
.hung{
    background-color: pink;
    margin: 4px;
  }
 .hung1{
    font-size: 30px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
  }
.hung1-menu{
    display: flex;
    width: 100%;
   
  }
  .menu{
    border-right: solid 1px black;
    padding: 12px;
    line-height: 15px;
  }
  .menu-1{
    padding: 12px;
    line-height: 15px;
  }
  .puma{
    background-color: pink;
    margin: 4px;
  }
  .puma-menu{
    display: flex;
    width: 100%;
  }
.puma-menu1{
    padding: 10px;
    line-height: 20px;
    width: 10%;
    line-height: 20px;
  }
.puma-menu2{
    padding: 10px;
    line-height: 20px;
    width: 12%;
    line-height: 20px;
  }
.puma1{
    font-weight: bold;
    font-size: 20px;
    }
.puma-menu3{
        padding: 10px;
        line-height: 20px;
        width: 27%;
        line-height: 20px;
      }
.puma2{
        padding: 10px;
        line-height: 20px;
        width: 27%;
        line-height: 20px;
      }
.puma2-phone{
        display: flex;
}
.puma2-phone1{
        color: red;
        font-size: 30px;
      }
.puma2-phone-2{
        border-right: solid 1px black ;
        padding:0px 10px;
      }
.puma2-phone-21{
        padding:0px 10px;
      }
.puma2-1{
        font-weight: bold;
        font-size: 20px;
      }
.puma2-2{
    color: red;
    font-weight: bold;
  }
.icon{
    padding: 10px;
    line-height: 20px;
    width: 40%;
    line-height: 20px;
  }
 .puma-menu a img{
    width: 40px;
    height: 30px;
  }
.icon1{
    font-size: 20px;
    font-weight: bold;
  }
  .puma-hi{
    border-top: 0.05px solid gainsboro;
    width: 100%;
    text-align: center;
    padding: 5px 10px;
  }
  .puma-hihi{
    display: inline;
    border-right: 0.6px solid black ;
    padding: 1px 10px;
  }

  
