#header{
    background-color:gray;
    line-height: 200px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

#content{
    display: flex;
    height: 500px;
}

#content .col-left{
    background-color: gainsboro;
    width: 50%;
    padding:  10px;
}

#content .col-left a{
    display: block;
    text-decoration: none;
}

#content .col-left a:hover{
color: red;
font-size: 30px;
}

#content .col-right{
    background-color: green;
    width: 50%;
    padding:  10px;
}

#content .col-right h1{
    font-size: 60px;
}

#footer{
    background-color:gray;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
#body{
    font-size: 30px;
}